<template>
    <form class="flex-row expand chat-bar" @submit.prevent="send">
        <span class="label">Chat</span>
        <input type="text" class="expand" :disabled="disabled" v-model="str">
        <button type="submit" :disabled="disabled">Send</button>
    </form>
</template>

<script>
import { socket } from '../net';



export default {
    props: ['disabled'],

    data: function() {
        return {
            str: ''
        };
    },

    methods: {
        send: function() {
            if (window.player != null && window.player.object != null) {
                socket.emit('chat', window.player.object.id, this.str);
                this.str = '';
            }
        }
    },
}
</script>