<template>
    <div 
        v-if="
            viewX > 0 &&
            viewX < viewWidth - 40 * scale &&
            viewY > 0 &&
            viewY < viewHeight - 40 * scale
        "
    >
        <b
            class="entity-name"
            :style="{ left: viewX + 'px', top: viewY - 15 + 'px', color: color }"
            v-if="object.name"
        > {{ object.name }} </b>
        <img
            class="entity"
            @click="checkAttack"
            :width="size * scale"
            height="size * scale"
            :style="{ left: viewX + 'px', top: viewY + 'px' }"
            :src="'sprites/' + object.sprite"
        >
    </div>
</template>

<script>
import { Position } from '../../index';
import { sendCommand } from '../net';



export default {
    props: [
        'x', 'y', 'scale',
        'playerX', 'playerY',
        'object',
        'viewWidth', 'viewHeight'
    ],

    computed: {
        viewX: function() {
            return ((this.x - this.playerX - 0.5) * this.size * this.scale + this.viewWidth / 2);
        },

        viewY: function() {
            return ((this.y - this.playerY - 0.5) * this.size * this.scale + this.viewHeight / 2);
        }
    },

    data: function() {
        return {
            size: 40,
            color: 'white',
        };
    },

    mounted: function() {
        window.vueObjs.set(this.object, this);
    },

    methods: {
        checkAttack: function(e) {
            if (window.player == null)
                return;

            if (this.object === window.player.object) {
                sendCommand('wait', []);
                return;
            }

            let offs = new Position(this.object.pos);
            offs.subFrom(window.player.object.pos);

            if (Math.max(Math.abs(offs.x), Math.abs(offs.y)) <= 1) {
                sendCommand('attack', [this.object.id]);
            }
        }
    }
}
</script>