<template>
    <div id="game-canvas" ref="canvas" class="expand-to-container" />
</template>

<script lang="ts">
import Vue from 'vue';
import * as PIXI from 'pixi.js';
import { BoardObject, Board, BoardLiving } from '../../index';
import spriteNames from '../sprites.json';
import { Component, Prop, Watch } from 'vue-property-decorator'
import * as path from 'path';

import s_banana from '../sprites/banana.png';
import s_dragon from '../sprites/dragon.png';
import s_elephant from '../sprites/elephant.png';
import s_fiendproj from '../sprites/fiendproj.png';
import s_fox from '../sprites/fox.png';
import s_gfiend from '../sprites/gfiend.png';
import s_monkey from '../sprites/monkey.png';
import s_player from '../sprites/player.png';
import s_rat from '../sprites/rat.png';
import s_slime from '../sprites/slime.png';
import s_wolf from '../sprites/wolf.png';


let sprites: { [pathname: string]: string } = {
    '../sprites/banana.png': s_banana,
    '../sprites/dragon.png': s_dragon,
    '../sprites/elephant.png': s_elephant,
    '../sprites/fiendproj.png': s_fiendproj,
    '../sprites/fox.png': s_fox,
    '../sprites/gfiend.png': s_gfiend,
    '../sprites/monkey.png': s_monkey,
    '../sprites/player.png': s_player,
    '../sprites/rat.png': s_rat,
    '../sprites/slime.png': s_slime,
    '../sprites/wolf.png': s_wolf,
};


let spriteNameMap: Map<string, string> = new Map();

(spriteNames as string[]).forEach((sn: string) => {
    spriteNameMap.set(path.relative('../sprites', sn), sprites[sn]);
});



@Component
export default class GameRenderer extends Vue {
    /*
    props: [
        'scale',
        'playerX', 'playerY',
        'viewWidth', 'viewHeight',
        'objects'
    ],
    */

    @Watch('scale')
    onScaleChange() {
        this.onUpdate();
    }

    @Watch('objects')
    onObjectsChange() {
        this.onUpdate();
    }

    @Prop()
    scale!: number;

    @Prop()
    playerX!: number;

    @Prop()
    playerY!: number;

    @Prop()
    viewWidth!: number;

    @Prop()
    viewHeight!: number;

    @Prop({ default: [] })
    objects!: BoardObject[];


    pixi: PIXI.Application | null = null;

    sprites: Map<BoardObject, PIXI.Sprite> = new Map();
    names: Map<BoardLiving, PIXI.Text> = new Map();
    textures: Map<string, PIXI.Texture> = new Map();

        
    mounted() {
        let app = new PIXI.Application({
            resizeTo: (this.$refs.canvas as HTMLElement),
            transparent: true,
            resolution: 1
        } as any);

        spriteNames.forEach((spn) => {
            app.loader.add(spn, sprites[spn]);
        });

        app.loader.load(this.pixiSetup);

        (this.$refs.canvas as HTMLElement).appendChild(app.view);

        this.pixi = app;

        this.$emit('renderer mounted')
    }

    viewX(obj: BoardObject): number {
        return ((obj.pos.x - this.playerX - 0.5) * 40 * this.scale + this.viewWidth / 2);
    }

    viewY(obj: BoardObject): number {
        return ((obj.pos.y - this.playerY - 0.5) * 40 * this.scale + this.viewHeight / 2);
    }

    pixiSetup(loader: PIXI.Loader, resources: { [name: string]: any }) {
        spriteNames.forEach((spn) => {
            this.textures.set(path.relative('../sprites', spn), resources[spn].texture);
        });
    }

    updated() {
        this.onUpdate();
    }

    visible(o: BoardObject) {
        let x = this.viewX(o);
        let y = this.viewY(o);

        return (
            x > 0 && y > 0 && 
            x < this.viewWidth  - 40 * this.scale &&
            y < this.viewHeight - 40 * this.scale
        );
    }

    onUpdate() {
        this.sprites.forEach((sprite, obj) => {
            if (this.visible(obj)) {
                sprite.visible = true;

                sprite.width = 40 * this.scale;
                sprite.height = 40 * this.scale;

                sprite.x = this.viewX(obj);
                sprite.y = this.viewY(obj);
            }
            
            else
                sprite.visible = false;
        });

        let rts = Math.sqrt(this.scale);

        this.names.forEach((name, obj) => {
            if (this.visible(obj)) {
                name.visible = true;

                name.x = this.viewX(obj) + name.width / 2;
                name.y = this.viewY(obj) - 10;

                name.scale.x = rts * 0.75;
                name.scale.y = rts * 0.75;

                if (obj.player)
                    name.style.fill = '#6AC9';
                    
                else
                    name.style.fill = '#AAA9';
            }

            else
                name.visible = false;
        });
    }

    addObject(obj: BoardObject) {
        let sprite = new PIXI.Sprite(this.textures.get(obj.sprite)!);
        
        sprite.width = 40 * this.scale;
        sprite.height = 40 * this.scale;

        sprite.x = this.viewX(obj);
        sprite.y = this.viewY(obj);

        this.pixi!.stage.addChild(sprite);
        this.sprites.set(obj, sprite);

        let o = obj; // TypeScript shenanigans...

        let rts = Math.sqrt(this.scale);

        if (o instanceof BoardLiving) {
            let name: PIXI.Text = new PIXI.Text(o.name);

            name.anchor.x = 0.5;
            name.anchor.y = 0.5;

            name.x = this.viewX(obj) + name.width / 2;
            name.y = this.viewY(obj) - 10;

            name.scale.x = rts * 0.75;
            name.scale.y = rts * 0.75;

            if (o.player)
                name.style.fill = '#6AC9';
                
            else
                name.style.fill = '#AAA9';

            this.pixi!.stage.addChild(name);
            this.names.set(o, name);
        }
    }

    removeObject(obj: BoardObject) {
        let sprite = this.sprites.get(obj);

        if (sprite) {
            this.pixi!.stage.removeChild(sprite);
            this.sprites.delete(obj);
        }

        if (obj instanceof BoardLiving) {
            let name = this.names.get(obj);

            if (name) {
                this.pixi!.stage.removeChild(name);
                this.names.delete(obj);
            }
        }
    }
}
</script>