<template>
    <form id="login-container" v-if="!logged" @submit.prevent="login">
        <div id="login">
            <div v-if="dead" style="margin-bottom: 8px;">  
                <span v-if="enemyName != ''">Oops! What an unfortunate fate. Losing to <b>{{enemyName}}</b>.</span>
                <span v-else>Whoops! What an aloof fate...</span>
            </div>

            <div>
                <b>Your Name: </b> <input type="text" maxlength="64" v-model="playerName"/>
            </div>

            <div>
                <button type="submit">Enter!</button>
            </div>
        </div>
    </form>
</template>

<script>
import { sendCommand } from '../net';


export default {
    props: ['logged', 'dead'],

    data: function() {
        return {
            playerName: "",
            enemyName: ""
        };
    },

    methods: {
        login: function() {
            if (this.playerName) {
                if (this.dead) {
                    sendCommand('retry', []);
                }

                sendCommand('login', [this.playerName]);
            }
        }
    }
}
</script>