<template>
    <div class="expand">
        <div class="flex-row">
            <b>-</b>
            <input v-model="scale" min="0.05" max="2" step="0.05" type="range" class="big-slider-row" />
            <b>+</b>
        </div>

        <div class="game-view" v-on:click="move" ref="view" :style="{
            backgroundColor: (myTurn ? '#373' : '#733'),
            backgroundPosition: (((viewWidth / 2 - playerX * 40 * scale - 20 * scale)) + 'px ' + ((viewHeight / 2 - playerY * 40 * scale - 20 * scale)) + 'px'),
            backgroundSize: (40 * scale)+'px '+(40 * scale)+'px'
        }">
            <img class="disconnectedStatus" :src="disconnectSprite" :style="{ opacity: (disconnected ? 1 : 0) }" />
            <!-- <entity :scale="scale" :object="obj" v-for="obj in (objects || [])" :key="obj.id" :x="obj.pos.x" :y="obj.pos.y" :playerX="playerX" :playerY="playerY" :viewWidth="viewWidth" :viewHeight="viewHeight" /> -->
            <GameRenderer :scale="scale" :objects="objects" :playerX="playerX" :playerY="playerY" :viewWidth="viewWidth" :viewHeight="viewHeight" ref="renderer" />
        </div>

        <div class="stat-bar" v-if="!dead && logged">
            <stat statName="attack" statLabel="Attack" ref="s_att" />
            <stat statName="defense" statLabel="Defense" ref="s_def" />
            <stat statName="speed" statLabel="Speed" ref="s_spd" />
            <stat statName="agility" statLabel="Agility" ref="s_agl" />
            <stat statName="luck" statLabel="Luck" ref="s_lck" />
            <stat statName="accuracy" statLabel="Accuracy" ref="s_acc" />
            <stat statName="health" statLabel="Health" ref="s_hel" isHealth />
            <div>
                Points available:
                <b>{{points}}</b>
            </div>
        </div>

        <div class="flex-row">
            <ChatBar :disabled="!logged" />
        </div>

        <div class="status">
            There are <b>{{numPlayers}}</b> players online:
            <span v-if="currentTurn != null">it is now <b>{{currentTurn}}</b>'s turn.</span>
            <span v-if="currentTurn == null">no one's turn right now.</span>
        </div>

        <Login :logged="logged" :dead="dead" ref="login" />
    </div>
</template>

<script lang="ts">
import { sendCommand } from '../net';
import { Player, Position, BoardLiving } from '../../index';
import GameRenderer from './gamerenderer.vue';
import Stat from './stat.vue';
import Login from './login.vue';
import ChatBar from './chatbar.vue';
import Vue from 'vue';
import s_disconnected from '../sprites/disconnected.png';



export default Vue.extend({
    data: function() {
        return {
            disconnectSprite: s_disconnected,
            logged: false,
            dead: false,
            numPlayers: 0,
            currentTurn: null,
            myTurn: false,
            viewWidth: 0,
            viewHeight: 0,
            playerX: 0,
            playerY: 0,
            objects: [],
            points: 0,
            scale: 1,
            disconnected: false,
        };
    },

    components: { Stat, GameRenderer, Login, ChatBar },

    updated: function() {
        this.$nextTick(() => {
            this.viewWidth  = (this.$refs.view as any).clientWidth;
            this.viewHeight = (this.$refs.view as any).clientHeight;
        });
    },

    methods: {
        move: function(e: MouseEvent) {
            if ((window as any).player != null && (window as any).player!.object != null) {
                let pos = new Position({
                    x: e.clientX,
                    y: e.clientY,
                });

                let { top, left, right, bottom } = (this.$refs.view as any).getBoundingClientRect();

                pos.subFrom(new Position({
                    x: left + (right - left) / 2,
                    y: top + (bottom - top) / 2,
                }));

                pos.mulFromNum(1 / 40 / this.scale);

                pos.x = Math.round(pos.x);
                pos.y = Math.round(pos.y);

                pos.addFrom((window as any).player.object.pos);

                let canAttack: boolean[] = [];

                ((window as any).player as Player)!.object!.nearbyChunks((ch) => {
                    canAttack.push(ch.some((obj) => {
                        if (obj instanceof BoardLiving && obj.pos.x === pos.x && obj.pos.y === pos.y) {
                            sendCommand('attack', [obj.id]);
                            return true;
                        }
                    }));
                }, 1);

                if (!canAttack.some((b) => b)) {
                    sendCommand('moveto', [''+pos.x, ''+pos.y]);
                }
            }
        }
    },
});
</script>
