<template>
    <div :class="{ stat: true, health: isHealth }">
        <b>{{statLabel}}: </b>
        {{amount}}
        <button class="add-button" @click="add">+</button>
    </div>
</template>

<script>
import { sendCommand } from '../net';


export default {
    props: [
        'isHealth',
        'statName',
        'statLabel',
    ],

    data: function() {
        return {
            amount: 0,
        };
    },

    methods: {
        add: function() {
            if (window.player.object.availablePoints > 0) {
                if (this.isHealth != null)
                    sendCommand('ADDHEALTH', [this.statName]);

                else
                    sendCommand('ADDSTAT', [this.statName]);

                /*
                window.player.object.availablePoints--;

                if (this.isHealth != null) {
                    window.player.object.health++;
                    this.amount = this.player.object.health;
                    window.player.object.netEmit('set-health', ''+window.player.object.health);
                }

                else {
                    window.player.object.stats[this.statName]++;
                    this.amount = this.player.object.stats[this.statName];
                    window.player.object.netEmit('set-stats', JSON.stringify(window.player.object.stats));
                }
                */
            }
        }
    }
}
</script>
